.block-date-button{
    display: flex;
    
    width: 20%;
}

.shift-change-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    width: 16vh;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background: #2993FE;
    color: #FFF;
    text-align: center;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.shift-change-button:hover {
    background: #2993FE;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}