.current-date-header{
    display: flex;
    
    flex-wrap:wrap;
    width: 80%;
    text-align: left;
}

#datetime{
    color: #000;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}