/* ENTIRE HOMEPAGE CONTAINER*/
.homepage-container{
    display:flex;
    margin-bottom: 2vh;
    height: auto;
    border: 5px solid black;
    gap: 3vh;
}

.title-action-container{
    display: flex;
}

/* BIG CONTAINER #1 */
/* This is the big container with the calendar and action buttons */
.calendar-button-container{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 80vh;
    height: auto;
    margin-left: 10vh;
    
}

/* This is the container with the calendar */
.employee-calendar-container {
    border: 5px solid purple;
    width: 100%; 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 3vh;
}

/* BIG CONTAINER #2 */
/* This container holds the date_label, shift_label, shift_info, bookings_label, booking_info containers*/
.info-container{
    display: flex;
    border: 5px solid black;
    width: 80vh;
    height: auto;
    flex-direction: column;
}

.date-label-container{
    display: flex;
    border: 5px solid black;
    width: 100%;
    height: auto;
    margin-top: 3vh;
}

.shift-label-container{
    display: flex;
    border: 5px solid black;
    width: 100%;
    height: 5vh;
    margin-top: 3vh;
}

.shift-employees-container{
    display: flex;
    border: 5px solid black;
    width: 100%;
    min-height: 20vh;
    flex-direction: column;
    height: auto;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.bookings-label-container{
    display: flex;
    border: 5px solid black;
    width: 100%;
    height: 5vh;
    margin-top: 3vh;
}

.bookings-container{
    display: flex;
    border: 5px solid black;
    width: 100%;
    min-height: 34vh;
    height: auto;
    margin-top: 13px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}

.no-bookings{
    
    font-family: "Delval Galanogrotesque", sans-serif;
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 20px;
    
    color: black;
    font-size: 18px;
    height: 5%;
    width: 100%;

    
}