{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block extra_css %} 
<link rel="stylesheet" type="text/css" href="static/css/forgot_password.css">
{% endblock %}

{% block content %}
<div class="forgot-container">
    <div class="forgot-box">
        <h1 class="forgot-title">Forgot Password</h1>
        
        <form method="POST" action="{{ url_for('account_manager.forgot_password') }}">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-input" required>
            </div>
            
            <button type="submit" class="forgot-btn">Submit</button>
        </form>
        
        <div class="create-account">
            <p class="text">Don't have an account? <a href="{{ url_for('account_manager.create_account') }}">Create an account</a></p>
            <p class="text">Remember your password? <a href="{{ url_for('account_manager.login') }}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}