body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Delval Galanogrotesque", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.homepage-container{
    width: 100%;
    max-width: 1200px;
    margin: 5vh auto;

    padding: 20px;
}

.heading-container {
    background-color: #3498db;
    color: #fff;
    padding: 100px 60px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 20px;
}

.heading-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.heading-text {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 30px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info {
    flex: 0 0 28%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin: 5px;
}

.info-icon {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 15px;
}

.info-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #2c3e50;
}

.info-text {
    color: #666;
}

.services-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.services-header {
    background-color: #f8f9fa;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.services-title {
    margin: 0;
    color: #2c3e50;
}

.services-body {
    padding: 20px;
    line-height: 0.70;
}

.book {
    display: inline-block;
    padding: 20px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
    width: 97%;
    border-radius: 10px;
    text-align: center;
}