<div class="customer-calendar-container">
    <div class="calendar-header">
        <h2 id="month-year">{{ current_month_name }} {{ current_year }}</h2>
    </div>
    
    <div class="calendar-weekdays">
        <h1 id="sun">Sun</h1>
        <h1 id="mon">Mon</h1>
        <h1 id="tue">Tue</h1>
        <h1 id="wed">Wed</h1>
        <h1 id="thu">Thu</h1>
        <h1 id="fri">Fri</h1>
        <h1 id="sat">Sat</h1>
    </div>

    <div class="calendar-days">
        {% for week in calendar_weeks %}
        <div class="week">
            {% for day in week %}
                {% if day.date %}
                    <a href="{{ url_for('customer.customer_homepage', selected_date=day.date) }}" 
                       {% if day.date == selected_date %}id="current"{% endif %}
                       {% if day.class == 'blocked-day' %}id="block"{% endif %}
                       {% if day.class == 'business-day' %}id="business-day"{% endif %}>
                        {{ day.day }}
                    </a>
                {% else %}
                    <a id="empty">
                        &nbsp;
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>