.actions{
    display: flex;
    width: 11%;
    margin-right: 10vh;
    gap: 4vh;
    justify-content: right;
    
}

.actions img{
    width: 6vh;
    height: 6vh;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-top: 3vh;
}

#message{
    transform: scale(1.3);
}