.title-action-container{
    display: flex;
    margin-top: 4vh;
    justify-content: center;
}

.title{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 45%;
}

.title h1{
    margin: 0;
    margin-top: 5vh;
}

.title hr {
    border: none;
    background-color: black;
    margin: 8px 0 20px 0; 
    width: 100%;
    border: 2px solid black;
    
}

.actions{
    display: flex;
    width: 15%;
    justify-content: right;
}


#back{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(244, 0, 0, 0.8);
    margin-top: 4vh;
    background: rgb(213, 13, 13);
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
    width: 70%;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

#back:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
#back:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.form-container{
    display: flex;
    margin-top: 5vh;
    width: 60%;
    margin-left: 36.5vh;
    flex-direction: column;
    margin-bottom: 5vh;
}

.form-group{
    display: flex;
    margin-top: 0px;
    margin-bottom: 2vh;
}

.form-group label{
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.form-group input, .form-group select{
    width: 100%;
    height: 4vh;
    border: 2px solid #2993FE;
    background: #FFF;
    padding: 0 10px;
}

.form-textarea {
    width: 100%;
    border: 2px solid #2993FE;
    background: #FFF;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 16px;
    padding: 10px;
    resize: vertical;
}

.form-input{
    text-align: left;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

#send{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 57, 244, 0.835);
    background: rgba(41, 147, 254, 1);
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
    width: 20%;
    margin-top: 1vh;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: "Delval Galanogrotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

#send:hover {
    background-color: #1c70c7;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}