{% extends 'base.html' %}

{% block title %}Add Accounts{% endblock %}

{% block extra_css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/analytics_dashboard/dashboard.css') }}">
{% endblock %}


{% block content %}
    <h1analytics>Analytics Dashboard</h1analytics>

    <div class="actions">
        <a href="{{ url_for('admin.admin_homepage', selected_date=selected_date) }}" class="back-btn">Back</a>
    </div>

    <div class="dashline"> </div>
    <div class="analytics"> 
        <div> <span class="bold">Appointment cancellation rate:</span> {{ appointment_cancellation_rate }}% </div>
            <div class="additionalspace"></div>
        <div> <span class="bold">Most popular time slot:</span> {{ format_popular_start_time_slot }} - {{ format_popular_end_time_slot }} </div>
        <div> <span class="bold">Less popular time slot:</span> {{ format_less_popular_start_time_slot }} - {{ format_less_popular_end_time_slot }} </div>
            <div class="additionalspace"></div>
        <div> <span class="bold">Most popular day:</span> {{ popular_day }} </div>
        <div> <span class="bold">Less popular day:</span> {{ unpopular_day }} </div>
            <div class="additionalspace"></div>
        <div> <span class="bold">Revenue from lice check:</span> {{head_check_revenue}} </div>
        <div> <span class="bold">Revenue from lice removal:</span> {{lice_removal_revenue}} </div>
            <div class="additionalspace"></div>
        <div> <span class="bold">Satisfaction score(out of five):</span> {{ avg_rating }} </div>
        <div> <span class="bold">Total booking:</span> {{ total_amount }} </div>
    </div>
{% endblock %}

