{% extends 'base.html' %}

{% block title %}Review Submitted{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="static/css/review_page/review.css">
{% endblock %}

{% block content %}
<div class="review-container">
    <h2>Thank you for your review!</h2>
    <p>Your feedback has been successfully submitted.</p>
    <p>You will be redirected to your appointments page shortly.</p>
</div>

<meta http-equiv="refresh" content="3;url={{ url_for('customer.manage_appointments') }}">
{% endblock %}