{% extends 'base.html' %}

{% block title %}Rate Appointment{% endblock %}



{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('customer.static', filename='css/reviewpage/review.css') }}">
{% endblock %}

{% block content %}
<div class="review-container">
    <h2>Rate Appointment</h2>
    <p class="date">{{ appointment_date }}</p>

    <form action="{{ url_for('customer.submit_review') }}" method="POST">
        <input type="hidden" name="booking_id" value="{{ booking_id }}">
        <input type="hidden" name="customer_id" value="{{ customer_id }}">

        <label>Rate your experience</label>
        <div class="star-rating">
            <input type="radio" id="5-stars" name="rating" value="5" required><label for="5-stars">&#9733;</label>
            <input type="radio" id="4-stars" name="rating" value="4"><label for="4-stars">&#9733;</label>
            <input type="radio" id="3-stars" name="rating" value="3"><label for="3-stars">&#9733;</label>
            <input type="radio" id="2-stars" name="rating" value="2"><label for="2-stars">&#9733;</label>
            <input type="radio" id="1-star" name="rating" value="1"><label for="1-star">&#9733;</label>
        </div>

        <label for="review_text">Describe your experience (Optional)</label>
        <textarea name="review_text" id="review_text" placeholder="Your feedback..."></textarea>

        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>
{% endblock %}

